{{ template "header" }}

<h1>{{ .Name }}</h1>

<div class="container">

    {{range $_, $chapter := .Chapters }}

    <div class="row">
        <div class="col-9">
            <a href="{{ $chapter.Link }}" target="_blank">{{ $chapter.Name }}</a> {{ if $chapter.Vip }}
            <span class="vip">V</span> {{ end }}
        </div>
        <div class="col-1">{{ $chapter.WordCount}}</div>
        <div class="col-2">{{ $chapter.UpdateTime.Format "2006-01-02 15:04"}}</div>
    </div>

    {{end}}

</div>

{{ template "footer" }}